/node_modules
/.pnp
.pnp.js
/coverage
/.next/
/out/
/build
.DS_Store
*.pem
.package-lock.json
.pnpm-lock.yaml
yarn.lockx
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*.local
.vercel
*.tsbuildinfo